@import '../../../../../globals';
@import '../../_list/list-item/list-item.component.scss';

.list-item {
    @include display-flex();
    align-items: center;
    justify-content: space-between;


    &__text {
        pointer-events: none;
    }

    &__property {
        padding-left: 24px;
        font-size: 0.8em;
        font-style: italic;
        pointer-events: none;
    }
}