@import '../../../globals';


.workspace {
    @include display-flex();
    background: $background-dark-colour;
    width: 100%;
    height: 100%;

    // app-menu-toolbar, app-menu-properties {
    //     flex-shrink: 0;
    // }


    app-workarea {
        flex: 1;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
    }
}