@import '../../../../../globals';

.list-group {
    position: absolute;
    top: 0;
    left: 0;
    @include display-flex();
    flex-flow: column;
    border: solid 1px grey;
    border-top: dotted 1px white;
}