@import '../../../../globals';

.menu-properties {
    background: white;
    width: 200px;
    height: 100%;
    padding: 6px;
    border-left: solid 1px grey;
    box-sizing: border-box;
}

.row {
    @include display-flex();
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px;

    &.center {
        justify-content: center;
    }
}

input {
    flex: 1;
    width: 100%;
}

.half-input {
    @include display-flex();
    max-width: 100%;

    span {
        flex: 0 1 auto;
        padding: 0 3px;
    }
}