@import '../../../../globals';

.collapser {
    font-size: 0.7em;

    &__icon {
        float: right;
        padding: 2px 3px;
        border: solid 1px transparent;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
            border-color: grey;
        }
    }
}

.content {
    width: 200px;
}

.content.collapsed {
    clear: both;
    width: max-content;
    padding-top: 4px;

    .group {
        *:not(.title) {
            display: none;
        }
        .title {
            float: right;
            padding: 3px 4px;
            margin-bottom: 4px;
            font-size: 0.8em;
            border: solid 1px grey;
            cursor: pointer;
        }
    }
}

.menu-properties {
    background: white;
    height: 100%;
    padding: 6px;
    border-left: solid 1px grey;
    box-sizing: border-box;
}

.row {
    @include display-flex();
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0;

    &.center {
        justify-content: center;
    }

    &.small {
        font-size: 0.8em;
    }

    label {
        margin-right: 5px;
        @extend %Quicksand-Light;
    }
    & label:not(first-child) {
        margin-left: 5px;
    }
}

input {
    flex: 1;
    width: 100%;
}

span {
    flex: 0 1 auto;
}
span.pad {
    padding: 0 3px;
}


.half-input {
    @include display-flex();
    max-width: 100%;    
}