@import '../../../../globals';

.collapser {
    font-size: 0.7em;

    &__icon {
        float: right;
        padding: 2px 3px;
        border: solid 1px transparent;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
            border-color: grey;
        }
    }
}

.content {
    width: 200px;

    .group {
        padding-bottom: 5px;
        margin-bottom: 15px;
        border-bottom: dotted 1px #a7a7a7;    
    }  

    & > *:last-child .group, .group:last-child {
            border: none;
    }


    .group {        
        .title {
            color: mix($alt-colour, black, 70);
        }
    }

}

.content.collapsed {
    clear: both;
    width: max-content;
    padding-top: 4px;

    .group {        
        padding: 0;
        margin: 0;
        border-bottom: none !important;

        *:not(.title) {
            display: none;
        }
        .title {
            float: right;
            padding: 3px 4px;
            margin-bottom: 4px;
            color: black;
            font-size: 0.8em;
            border: solid 1px grey;
            cursor: pointer;
        }
    }
}



.menu-properties {
    background: white;
    height: 100%;
    padding: 6px;
    border-left: solid 1px grey;
    box-sizing: border-box;
}

.row-container {
    background: #f1f1f1;
    padding: 4px;
    margin-bottom: 5px;
    // border: dotted 1px grey;

    &.empty {
        margin-bottom: 0;
        padding: 0;
    }

    .row:last-child {
        margin-bottom: 0;
    }
}

.row {
    @include display-flex();
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0;
    font-size: 0.9em;
    // @extend %Quicksand-Light;

    &.center {
        justify-content: center;
    }

    &.small {
        font-size: 0.8em;
    }
    &.first {
        margin-top:  5px;
    }
    &.bottom {
        margin-bottom: 0;
    }

    & input:last-child {
        margin-right: 0;
    }
}

input {
    flex: 1;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 4px;
    margin-right: 4px;

    &:disabled {
        &:hover {
            background: $button-colour;
        }
    }
}

span {
    flex: 0 1 auto;
}
span.pad {
    padding: 0 3px;
}
span.input-size {
    font-size: 13.3px;
    padding: 0 8px;
}


.half-input {
    @include display-flex();
    max-width: 100%;    
}