<div class="menu-properties" (click)="_onMenuClicked()">

  <div class="collapser">
    <span class="collapser__icon" [innerHTML]="_collapsed ? '&lt;&lt;' : '&gt;&gt;'" (click)="_toggleCollapse()"></span>
  </div>

  <div class="content" [ngClass]="{'collapsed' : _collapsed}">


    <!-- TOOL SPECIFIC MENUS -->
    <!-- Select Menu -->
    <div class="group select" (click)="_onContextClick()" *ngIf="CurrentTool == TOOL.Select">
        <div class="title">Select Options</div>
        <div class="row center first">
          <button (click)="_workspaceService.onSelectAll()">Select All</button>
        </div>
        <div class="row center">
          <button (click)="_workspaceService.onDeselectAll()">Deselect All</button>
        </div>
        <div class="row center">
          <button>-</button>
          <span class="input-size">Selection</span>
          <button>+</button>
        </div>
        <div class="row center">
          <span>{{ _workspaceService.Scale * 100 }}%</span>
        </div>
  
      </div>
      <!-- /Select Menu -->
  
      <!-- Move Menu -->
      <div class="group move" (click)="_onContextClick()" *ngIf="CurrentTool == TOOL.Move || CurrentTool == TOOL.Select">
        <div class="title">Move Options</div>
        <div class="row center text-center bottom first">Selected Sprites: {{ SelectedSpritesCount }}</div>
        <div class="row text-center small" *ngIf="SelectedSpritesCount == 0">Select some sprites with the selection or marquee tool!</div>
        <div class="row">
          <label for="moveIncrement">Increment</label>
          <input id="moveIncrement" type="number" [(ngModel)]="_workspaceService.moveIncrement" (focus)="disableShortcuts(true)" (blur)="disableShortcuts(false)" (keyup)="_onKeyUp($event)" min="1" max="5000">
        </div>
        <div class="row">
          <span class="label">Snap to Sprites</span>
          <label class="custom-checkbox">
          <input class="custom-checkbox__input" type="checkbox" [(ngModel)]="_workspaceService.snapToSprite">
          <span class="custom-checkbox__element"></span>
          </label>
        </div>
        <div class="row-container" [ngClass]="{'empty' : !_workspaceService.snapToSprite}">
          <div class="row" *ngIf="_workspaceService.snapToSprite">
            <label for="snapThreshold">Snap Threshold</label>
            <input id="snapThreshold" type="number" [(ngModel)]="_workspaceService.snapThreshold" (focus)="disableShortcuts(true)" (blur)="disableShortcuts(false)" (keyup)="_onKeyUp($event)" min="1" max="5000">
          </div>
        </div>
        <div class="row center">
          <button (click)="_onScaleChanged(0.5)">Zoom Out</button>
        </div>
        <div class="row center">
          <button (click)="_onScaleReset()">Reset</button>
        </div>
        <div class="row center">
          <span>{{ _workspaceService.Scale * 100 }}%</span>
        </div>
  
      </div>
      <!-- /Move Menu -->

      <!-- Zoom Menu -->
      <div class="group zoom" (click)="_onContextClick()" *ngIf="CurrentTool == TOOL.Zoom">
        <div class="title">Zoom Options</div>
        <div class="row center first">
          <button (click)="_onScaleChanged(2)">Zoom In</button>
        </div>
        <div class="row center">
          <button (click)="_onScaleChanged(0.5)">Zoom Out</button>
        </div>
        <div class="row center">
          <button (click)="_onScaleReset()">Reset</button>
        </div>
        <div class="row center">
          <span>{{ _workspaceService.Scale * 100 }}%</span>
        </div>
  
      </div>
      <!-- /Zoom Menu -->


      

    <!-- CONTEXT MENUS -->
    <div *ngIf="CurrentTool == TOOL.Select || CurrentTool == TOOL.Marquee">

      <!-- Sprite Menu -->
      <div class="group sprite" *ngIf="CurrentContext == CONTEXT.Sprite" (click)="_onContextClick()">
        <div class="title">Sprite Menu</div>
        <div *ngIf="SelectedSprite">
          <div class="row first">
            <label for="sprName">Name</label>
            <input id="sprName" type="text" [(ngModel)]="SelectedSprite.Name" (focus)="disableShortcuts(true)" (blur)="disableShortcuts(false)" (keyup)="_onKeyUp($event)">
          </div>
          <div class="row">
            <label for="sprX">X</label>
            <input id="sprX" type="number" [(ngModel)]="SelectedSprite.X" (focus)="disableShortcuts(true)" (blur)="disableShortcuts(false)" (keyup)="_onKeyUp($event)">
            <label for="sprY">Y</label>
            <input id="sprY" type="number" [(ngModel)]="SelectedSprite.Y" (focus)="disableShortcuts(true)" (blur)="disableShortcuts(false)" (keyup)="_onKeyUp($event)">
          </div>
          <div class="row">
            <label for="sprWidth">W</label>
            <input id="sprWidth" type="number" [(ngModel)]="SelectedSprite.Width" (focus)="disableShortcuts(true)" (blur)="disableShortcuts(false)" (keyup)="_onKeyUp($event)">
            <span class="pad">H</span>
            <input id="sprHeight" type="number" [(ngModel)]="SelectedSprite.Height" (focus)="disableShortcuts(true)" (blur)="disableShortcuts(false)" (keyup)="_onKeyUp($event)">
          </div>

          <div class="row center">
            <button>Reset</button>
            <button>Replace</button>
          </div>        

          <div class="row center">
            <button>Duplicate</button>
          </div>
          <div class="row center">
            <button>Delete</button>
          </div>
        </div>
        
      </div>
      <!-- /Sprite Menu -->


      <!-- Workarea Menu -->
        <div class="group workarea" *ngIf="CurrentTool == TOOL.Select && CurrentContext == CONTEXT.Workarea" (click)="_onContextClick()">
        <div class="title">Workarea Menu</div>
        <div class="half-input row first">
          <input type="number" [(ngModel)]="Workarea.Width" (focus)="disableShortcuts(true)" (blur)="disableShortcuts(false)" (keyup)="_onKeyUp($event)">
          <span class="pad">&#215;</span>
          <input type="number" [(ngModel)]="Workarea.Height" (focus)="disableShortcuts(true)" (blur)="disableShortcuts(false)" (keyup)="_onKeyUp($event)">
        </div>
        <div class="row">
          <input type="color" [(ngModel)]="Workarea.Colour">
        </div>
        <div class="row">
          <span>Use Transparency</span>
          <label class="custom-checkbox">
          <input class="custom-checkbox__input" type="checkbox" [(ngModel)]="Workarea.Transparent">
          <span class="custom-checkbox__element"></span>
          </label>
        </div>
        <div class="row center">
          <button>Autosize</button>
        </div>

        <hr>

        <app-toggle-list-group customClass="custom-button" [hoverable]="false" text="Render Quality" [items]="QualityOptions" (onChanged)="_onQualityChanged($event)"></app-toggle-list-group>
        <div class="row small first">
          <span>Quality: </span>
          <span [innerHTML]="_currentQuality"></span>
        </div>
        
      </div>
      <!-- /Workarea Menu -->


    </div>


  </div>

  


</div>
