@import '../../../globals';

.workarea {
    position: relative;
    @include display-flex();
    justify-content: flex-start;
    align-items: flex-start;
    background: $background-colour;
    width: 100%;
    height: 100%;
    border-right: solid 1px grey;
    border-bottom: solid 1px grey;
    transform-origin: top left;


    &.transparent {
        background-image: url('/assets/images/ui/transparent.png') !important;
    }
}


.marquee {
    position: absolute;
    background: rgba(255, 0, 0, 0.329);
}



app-sprite {
    position: absolute;
}