//fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand');

%Quicksand {
    font-family: 'Quicksand', sans-serif;
}
%Quicksand-Light {
    font-family: 'Quicksand Light', sans-serif;
}


$background-colour: #d1d1d1;
$background-dark-colour: #a5a5a5;
$background-dark-colour-2: #2c2c2c;
$alt-colour: #8ac582;

// ui
$button-colour: #f0f0f0;
$button-selected-colour: #dee6dd;

$size-tablet: "screen and (max-width: 768px)";

@mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}



.hide {
    display: none !important;
}
.text-center {
    text-align: center;
}


%round-outline {
    border: solid 1px #cccccc;
    border-radius: 3px;

    &:hover {
        border-color: grey;
    }
}

%close-icon {
    background: url('/assets/images/ui/cross.png');
}
%close-icon-dark {
    background: url('/assets/images/ui/cross-dark.png');
}


%button {
    background: $button-colour;
    border: solid 1px $background-dark-colour;
    user-select: none;
    outline: none;

    &:hover {
        background: mix($alt-colour, white, 40);
    }
}


// image rendering
.q--auto {
    image-rendering: auto;
    -ms-interpolation-mode: bicubic;
}

.q--crisp-edges {
    image-rendering:optimizeSpeed;             /* Legal fallback */
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:crisp-edges;               /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}


.q--pixelated {
    image-rendering:optimizeSpeed;             /* Legal fallback */
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:crisp-edges;               /* CSS4 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}


.q--optimize-quality {
    image-rendering:optimizeQuality;             /* Legal fallback */
    image-rendering:-moz-optimizeQuality;          /* Firefox        */
    image-rendering:-o-optimizeQuality;            /* Opera          */
    image-rendering:-webkit-optimize-quality; /* Safari         */
    image-rendering:optimizeQuality;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:bicubic;   /* IE8+           */
}