<div class="menu-bar">
  <div class="menu-bar__brand">spritesheetr</div>
  <div class="menu-bar__items">
    <app-toggle-list-property-group text="file" [itemProperties]="_fileOptionsProps" (onChanged)="_callOption('file', $event)"></app-toggle-list-property-group>
    <app-toggle-list-property-group text="edit" [itemProperties]="_editOptionsProps" (onChanged)="_callOption('edit', $event)"></app-toggle-list-property-group>
    <app-toggle-list-group text="workspace" [items]="['Properties', 'Clear', 'Save', 'Load', '_separator', 'General', 'Animation']"></app-toggle-list-group>
    <app-toggle-list-group text="spritesheetr" [items]="['Upload Image(s)', 'Select All', 'Deselect All', '_separator', 'Pack Sprites']" *ngIf="_appService.StatesService.CurrentState == _appService.StatesService.STATE.Spritesheetr"></app-toggle-list-group>
    <app-toggle-list-group text="animatr" [items]="['Play', 'Pause', 'Clear']" *ngIf="_appService.StatesService.CurrentState == _appService.StatesService.STATE.Animatr"></app-toggle-list-group>
    <app-toggle-list-group text="clippr" [items]="['Clear']" *ngIf="_appService.StatesService.CurrentState == _appService.StatesService.STATE.Clippr"></app-toggle-list-group>
    <app-toggle-list-group text="window" [items]="['Toolbar', 'Properties', '_separator', 'Spritesheetr', 'Animatr', 'Clippr', '_separator', 'Show Grid', 'Hide Grid']"></app-toggle-list-group>
    <app-toggle-list-group text="help" [items]="['About', 'Github']"></app-toggle-list-group>
  </div>
</div>
